/* 1200 PX WIDE, 12 COLUMN FLUID GRID WITH 12 GUTTERS. */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
}

/* CLEARFIX */
.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}

.col-xs-1, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4,
.col-xs-5, 
.col-xs-6, 
.col-xs-8, 
.col-xs-10, 
.col-xs-12,
.col-sm-1, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4,
.col-sm-5, 
.col-sm-6, 
.col-sm-8, 
.col-sm-10, 
.col-sm-12,
.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4,
.col-md-5, 
.col-md-6, 
.col-md-8, 
.col-md-10, 
.col-md-12,
.col-lg-1, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4,
.col-lg-5, 
.col-lg-6, 
.col-lg-8, 
.col-lg-10, 
.col-lg-12 {
  float: left;
  padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
}

.col-sm-1, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4,
.col-sm-5, 
.col-sm-6, 
.col-sm-8, 
.col-sm-10, 
.col-sm-12,
.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4,
.col-md-5, 
.col-md-6, 
.col-md-8, 
.col-md-10, 
.col-md-12,
.col-lg-1, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4,
.col-lg-5, 
.col-lg-6, 
.col-lg-8, 
.col-lg-10, 
.col-lg-12 {
	width: 100%;
}

.col-xs-1 {
	width: 8.333333%;
}

.col-xs-2 {
	width: 16.666666%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.333333%;
}

.col-xs-5 {
	width: 41.666666%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-8 {
	width: 66.666666%;
}

.col-xs-10 {
	width: 83.333333%;
}

.col-xs-12 {
	width: 100%;
}

.remove-xs-row-offset {
	margin-top: 0;
}

/* NON-MOBILE GRID */
/* --------------- */

/* SM */

@media only screen and (min-width: 576px) {
  .col-sm-1 {
		width: 8.333333%;
	}

	.col-sm-2 {
		width: 16.666666%;		
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.333333%;		
	}

	.col-sm-5 {
		width: 41.666666%;
	}

	.col-sm-6 {
		width: 50%;
  }

	.col-sm-8 {
		width: 66.666666%;
	}

	.col-sm-10 {
		width: 83.333333%;
	}

	.col-sm-12 {
		width: 100%;
	}

	.remove-sm-row-offset {
		margin-top: 0;
	}
}

/* MD */

@media only screen and (min-width: 768px) {
  .col-md-1 {
		width: 8.333333%;
	}

	.col-md-2 {
		width: 16.666666%;		
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.333333%;		
	}

	.col-md-5 {
		width: 41.666666%;
	}

	.col-md-6 {
		width: 50%;
  }

	.col-md-8 {
		width: 66.666666%;
	}

	.col-md-10 {
		width: 83.333333%;
	}

	.col-md-12 {
		width: 100%;
	}
}

/* LG */

@media only screen and (min-width: 992px) {
  .col-lg-1 {
		width: 8.333333%;
	}

	.col-lg-2 {
		width: 16.666666%;		
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.333333%;		
	}

	.col-lg-5 {
		width: 41.666666%;
	}

	.col-lg-6 {
		width: 50%;
  }

	.col-lg-8 {
		width: 66.666666%;
	}

	.col-lg-10 {
		width: 83.333333%;
	}

	.col-lg-12 {
		width: 100%;
	}
}
