body {
  font-weight: 300;
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

.search-realestate {
  padding: 7px 0;
  background-color: #5d4d49;
}

.search-realestate_intent,
.search-realestate_type,
.search-realestate_input-city,
.search-realestate_show-list,
.search-realestate_show-map {
  min-height: 20px;
  border: 1px solid white;
}

.search-realestate_expand p {
  text-align: left;
}

.search-realestate_heading p,
.search-realestate_expand p {
  color: white;
}

@media only screen and (min-width: 576px) {
  .search-realestate_expand p {
    text-align: right;
  }
}