body {
  font-weight: 300;
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

.search-realestate {
  padding: 10px 0;
  background-color: #5d4d49;
}

.search-realestate_intent {
  padding: 10px;
  background-color: white;
}

.search-realestate_intent,
.search-realestate_type,
.search-realestate_input-city,
.search-realestate_show-list,
.search-realestate_show-map {
  min-height: 20px;
  border: 1px solid white;
}

.search-realestate_expand p {
  text-align: left;
}

.search-realestate_heading p,
.search-realestate_expand p {
  color: white;
}

@media only screen and (min-width: 576px) {
  .search-realestate_expand p {
    text-align: right;
  }
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}

.search-realestate_input-city input {
  width: 100%;
}